<nav class="sidebar px-md-4">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item a">
        <a class="nav-link active" (click)="managenew()" ><i class="pi pi-home">&nbsp;</i>Home</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link"[routerLink]="['/information/inforuser']"><i class="pi pi-user">&nbsp;</i>Mn User</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link" [routerLink]="['/information/formrgs']"><i class="pi pi-desktop">&nbsp;</i>Mn Form</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link" [routerLink]="['/information/details']"><i class="pi pi-chart-line">&nbsp;</i>Personal Information</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link active"[routerLink]="['selectadv']"><i class="pi pi-home">&nbsp;</i>Advertising Package</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link active" (click)="managenew()"><i class="pi pi-home">&nbsp;</i>Post Management
        </a>
      </li>
      
      <li class="nav-item a">
        <a class="nav-link active" (click)="Logout()"><i class="pi pi-sign-out">&nbsp;</i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <!-- Menu dọc bên trái -->
    
    <!-- Nội dung hiển thị bên phải -->
    <nav class="col-md-3">
      <div class="">

      </div>
    </nav>
    <div  class="col-md-9 main" >
<router-outlet></router-outlet> 
    </div>
  </div>
</div>