<div class="container2">
        <!-- //<span class="back-button">&lt;</span> -->
        <br>
        <div class="user-info">
            <img src="../assets/img/carousel-2.jpg" alt="User Avatar" class="user-avatar">
            <h2>John Doe</h2>
        </div>
        <div>
            <p>Email: johndoeexample.com</p>
            <p>Location: Hanoi, Vietnam</p>
        </div>
        <h2>Bài viết nổi bật</h2>
        <div class="featured-posts">
           
            <div class="post">
                <img class="img-dt" src="meoo.jpg" alt="as">
                <h4>Tiêu đề bài viết 1</h4>
                <p>Nội dung ngắn gọn của bài viết 1...</p>
            </div>
            <div class="post">
                <img src="anhderemon.png" class="img-dt" alt="as">
                <h4>Tiêu đề bài viết 2</h4>
                <p>Nội dung ngắn gọn của bài viết 2...</p>
            </div>
            <div class="post">
                <img src="meoo.jpg" class="img-dt" alt="asd">
                <h4>Tiêu đề bài viết 3</h4>
                <p>Nội dung ngắn gọn của bài viết 3...</p>
            </div>
            <div class="post">
                <img src="download.jpg" class="img-dt" alt="as" class="img-dt">
                <h4>Tiêu đề bài viết 2</h4>
                <p>Nội dung ngắn gọn của bài viết 2...</p>
            </div>
            <div class="post">
                <img src="Logo.png" class="img-dt" alt="sad">
                <h4>Tiêu đề bài viết 3</h4>
                <p>Nội dung ngắn gọn của bài viết 3...</p>
            </div>
        </div>
    </div>
