<div class="container2">
        <!-- //<span class="back-button">&lt;</span> -->
        <br>
        @if(user!=null){
        <div class="user-info">
            <img src="../assets/img/carousel-2.jpg" alt="User Avatar" class="user-avatar">
           <h2>{{ user.name }}</h2>
        </div>
        <div>
          <p>Email : {{ user.email }}</p>
            <p>Phone : {{ user.phone }}</p>
         </div>
        }
        <h2>Bài viết nổi bậtttt</h2>
        <div class="featured-posts">
           @if(realState!=null){
            @for(item of realState;track item){
            <div class="post">
                <img class="img-dt" src="{{ imageUrl }}{{ item.image[0].urlImage }}" alt="as">
                <h4>{{ item.title }}</h4>
               
            </div>
        }
        }
        </div>
    </div>
