
.container-custom {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.tab.active {
    border-bottom: 3px solid #333;
    
}

.search-group {
    display: flex;
    align-items: center;
}

.search-group input {
    flex: 1;
    margin-right: 10px;
}
.file-input-label {
    font-size: 50px;
    cursor: pointer;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}


.image-preview img {
    width: 250px;
    height: 120px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
}


.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #27ae8a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-preview {
    background-color: #ddd;
    color: black;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}