/********** Template CSS **********/
@import "primeicons/primeicons.css";
:root {
    --primary: hsl(166, 100%, 36%);
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}
/* Hiệu ứng hào quang */

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Định dạng cho avatar */
.avatarvip {
    position: relative;
    display: inline-block;
}

.avatar-img {
    width: 150px; /* Đặt kích thước của hình ảnh avatar */
    height: 150px;
    border-radius: 50%; /* Làm cho avatar trở thành hình tròn */
}

/* Hiệu ứng hào quang */
.avatarvip.glow::before {
    content: '';
    position: absolute;
    top: -15px; /* Dịch chuyển hiệu ứng lên */
    left: -15px; /* Dịch chuyển hiệu ứng sang trái */
    right: -15px; /* Dịch chuyển hiệu ứng sang phải */
    bottom: -15px; /* Dịch chuyển hiệu ứng xuống dưới */
    border-radius: 50%;
    box-shadow: 0 0 20px 10px gold; /* Tạo hiệu ứng hào quang mơ hồ */
    z-index: -1;
}

/* Biểu tượng vuông miên */
.avatarvip.crown::after {
    position: absolute;
    top: -1px; /* Dịch chuyển hiệu ứng lên */
    left: -1px; /* Dịch chuyển hiệu ứng sang trái */
    right: -1px; /* Dịch chuyển hiệu ứng sang phải */
    bottom: -1px;
    content: '';
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgb(246, 255, 0); /* Tạo hiệu ứng hào quang mơ hồ */
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
#number-list,
#number-list-2
{
    list-style-type: none;
    padding: 0;
}
#number-list-2 li,
#number-list li {
    padding: 10px;
    border-top: 1px solid #d2d2d2;
    margin: 5px 0;
    cursor: pointer;
}
#number-list-2 li.selected,
#number-list li.selected {
    font-weight: bold;
    background-color: #e0f7fa;
}

.floating-panel,
.floating-panel1 ,
.floating-panel2 {
    display: none;
    position:absolute; /* Panel nổi cố định trên màn hình */
    border: 2px solid #000; /* Viền */
    background-color: rgba(255, 255, 255, 0.9); /* Nền trong suốt */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Đổ bóng */
    z-index: 1000; /* Đảm bảo panel nằm trên các phần tử khác */
    width: 306px;
    /* left: 687px;
    top:118px; */


}
.abc{
    margin-top: 25px;
}
.seach_task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
}

.p-inputgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.p-inputtext {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.p-inputgroup-addon {
    background-color: #ff9900;
    padding: 0px;
    display: flex;
    justify-content: center;
    border-radius:0 15px 15px 0;
    height: 50px;
}

.p-inputgroup-addon i {
    color: white;
    font-size: 20px;
}

.p-inputgroup-addon:hover {
    background-color: #e68a00;
}
.md4{
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
}
.seach_task4{ 
    border-radius: 10px;
    width: 285px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}


.seach_task4 p-dropdown{  
    width: 310px;
  
}
.index {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; /* Đảm bảo nằm trên phần tử khác */
    border: 1px solid #000000; /* Thiết lập viền */
    background-color: hsla(0, 0%, 34%, 0.34); /* Nền trong suốt */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Bao gồm cả viền trong kích thước */
    width: 50%; /* Chiều rộng theo phần trăm */
    max-width: 1100px; /* Chiều rộng tối đa */
    min-width: 300px; /* Chiều rộng tối thiểu */
    height: 150px; /* Chiều cao cố định */
}

.index1 {
    z-index: 100; /* Đảm bảo nằm trên phần tử .banner */
    border: 1px solid #000000; /* Thiết lập viền */
    background-color: hsla(0, 0%, 40%, 0.371); /* Nền trong suốt */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Bao gồm cả viền trong kích thước */
}

.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px; /* Điều chỉnh chiều cao của banner */
}
.banner-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s ease-in-out;
}
.banner-slide.banner1 {
    z-index: 2; /* Initial higher value */
    opacity: 1;
}
.banner-slide.banner2 {
    z-index: 1; /* Initial lower value */
    opacity: 0;
}
@keyframes fadeInn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeInn {
    animation-name: fadeInn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.box {
    --primary: #275efe;
    --headline: #3F4656;
    --text: #99A3BA;
    width: 100%;
    max-width: 312px;
    padding: 36px 32px 48px 32px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 4px rgba(18, 22, 33, .12);
    h3 {
        font-family: inherit;
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 20px 0;
        color: var(--headline);
        span {
            font-weight: 500;
        }
    }
    .values,.valuess,
    small {
        div {
            display: inline-block;
            vertical-align: top;
        }
    }
    .valuess,.values {
        margin: 0;
        font-weight: 500;
        color: var(--primary);
        & > div {
            &:first-child {
                margin-right: 2px;
            }
            &:last-child {
                margin-left: 2px;
            }
        }
    }
    small {
        color: var(--text);
        display: block;
        margin-top: 8px;
        font-size: 14px;
    }
    .slider,.slider1 {
        margin-top: 40px;
    }
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}



/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.nav-bar {
    position: relative;
    padding: 0 3rem;
    transition: .5s;
    /* z-index: 9999; */
}

.nav-bar.sticky-top {
    position: sticky;
    /* z-index: 9999; */
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 1000;
    vertical-align: middle;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-170deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}
.nav-item .nav-link .tablink:hover {
    text-decoration:dashed;
    color: rgb(16, 82, 30);
}
.nav-item .nav-link .tablink .active{
color: rgb(16, 82, 30);
}
@media (max-width: 990.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #DDDDDD;
}


/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}


/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 185, 142, .3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}


/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer{
    position: relative;
    z-index: 1000;
}
.footer .btn.btn-social {
    z-index: 1000;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    z-index: 1000;
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    z-index: 1000;
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    z-index: 1000;
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    z-index: 1000;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    z-index: 1000;
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    z-index: 1000;
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    z-index: 1000;
    color: var(--light);
}

.footer .footer-menu a {
    z-index: 1000;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    z-index: 1000;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/* banvg tin */
/* Thiết lập chiều cao cho menu dọc */
.sidebar {
    margin: 0px 0px 0px 13px;
    top:100px;
    border-right: 1px solid #313131; /* Thêm border bên phải */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Thêm box-shadow */
    overflow-y: auto;
   
    left:auto;
    bottom: 0;
    padding: 48px 0 0; /* padding ở đây là khoảng cách giữa phần đầu và phần nội dung của menu */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 250px;
    background-color: #ffffff;
}

/* Thiết lập chiều rộng cho menu dọc */
.sidebar-sticky {
    z-index: 10;
    top: 0;
    height: calc(100vh - 0px); /* chiều cao của menu dọc */
    padding-top: 0.5rem;
    width: 200px;

}
.sidebar-sticky ul li{

   
   font-weight: bold;
   border-bottom: 1px solid rgb(187, 187, 187);

}
.sidebar-sticky ul li a{
    font-size: 60px;
}
    

/* Thiết lập chiều rộng và vị trí cho nội dung chính */
.main {
    overflow-y: auto;/* Chiều rộng của menu dọc */
    padding: 5px;
   
}

/* Thiết lập chiều cao cho tiêu đề */
.page-header {
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Thiết lập độ rộng cho các khối nội dung */
.post-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Thiết lập độ rộng của hình ảnh trong khối nội dung */
.post-content img {
    width:100% ;
}

/* Tùy chỉnh nội dung nằm bên phải của trang */
.content-right {
    padding: 20px;
}
.show-btn {
    display: block;
 }
@keyframes scrollUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
 }
 .accept-button, .reject-button {
    margin: 5px;
  }