<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-8 wrapcontent">
            <!-- Main content -->
            <div class="main-content">
                <div class="content-frame">
                    <div class="content">
                        <div class="name"><img src="anhderemon.png
                            " alt="Profile Image" class="profile-img" >Tên người đăng</div>
                        <div class="scrollable-content" id="scrollable-content">
                            <!-- Nội dung của thẻ content -->
                            <p>Đây là nội dung.</p>
                            <p>Đây là nội dung khác.</p>
                            <p>Đây là nội dung khác nữa.</p>
                            <p>Đây là nội dung.</p>
                            <p>Đây là nội dung khác.</p>
                            <p>Đây là nội dung khác nữa.</p>
                            <p>Đây là nội dung.</p>
                            <p>Đây là nội dung khác.</p>
                            <p>Đây là nội dung khác nữa.</p>
                        </div>
                        <div class="show-more" id="show-more">Xemthem</div>
                        <div class="img">
                            <div class="image-container">
                                <img class="cimg" styles="width: 345px;height: 255px;" src="download.jpg" alt="Ảnh">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-frame">
                    <div class="content">
                        <div class="name"><img src="anhderemon.png
                            " alt="Profile Image" class="profile-img" >Tên người đăng</div>
                        <div class="scrollable-content" id="scrollable-content">
                            <!-- Nội dung của thẻ content -->
                            <p>Đây là nội dung.</p>
                            <p>Đây là nội dung khác.</p>
                            <p>Đây là nội dung khác nữa.</p>
                            <p>Đây là nội dung khác nữa.</p>
                            <p>Đây là nội dung khác nữa.</p>
                        </div>
                        <div class="show-more" id="show-more">Xemthem</div>
                        <div class="img">
                            <div class="image-container">
                                <img class="cimg" src="meoo.jpg" alt="Ảnh">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Thêm các content frame khác tương tự cho các thẻ content khác -->
                <div class="profile-container">
                    <div class="profile">
                        <img src="avatar.jpg" alt="Avatar">
                        <h2>John Doe</h2>
                        <p>Email: johnexample.com</p>
                        <p>Phone: 123-456-7890</p>
                        <p>Address: 123 Main Street, City, Country</p>
                        <p>Age: 30</p>
                        <p>Gender: Male</p>
                        <p>Interests: Coding, Reading, Traveling</p>
                        <p>About Me: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere urna in magna ullamcorper, ac vestibulum felis efficitur.</p>
                        <div class="icon">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 sidebar_rig">
            <!-- Sidebar right content -->
            <div class="menu">
                <select class="form-control" name="" id="">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </div>
            <div class="menu">
                <h3><i class="fas fa-chart-bar"></i> Menu 2</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-chart-line"></i> Analytics</a></li>
                    <li><a href="#"><i class="fas fa-file"></i> Reports</a></li>
                    <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                </ul>
            </div>
            <!-- Add more menu divs as needed -->
        </div>
        
    </div>


</div>