<header>
    <h1>Báo Mới</h1>
</header>

<!-- Phần content bài báo -->
<div class="contentn">
    @if(news!=null){ <!-- Bài báo chính -->
    <div class="article">

        <h2>{{ newsst1.title }}</h2>
        <img src="{{ imgsurl }}{{ newsst1.img[0].urlImage }}" st alt="Hình ảnh bài báo">
        <div [innerHTML]="newsst1.content"></div>
    </div>

    <!-- Phần sidebar -->
    <div class="sidebarn">
        <h2>Bài báo khá<!--[if IE]><![endif]--></h2>
        <div class="sidebar-content_1">
            <ul class="article-list_1">
                @for(newt of news; track newt) {
                <li class="article-item_1">
                    <a (click)="update(newt.id)" class="scrollBtn">
                        <div class="article-thumbnail_1">
                            <img src="{{ imgsurl }}{{ newt.img[0].urlImage }}" alt="Hình ảnh bài báo">
                        </div>
                        <div class="article-details_1">
                          {{ newt.title }}
                                <!-- Thêm thông tin bổ sung nếu cần -->
                        </div>
                    </a>
                </li>
             
                }
            </ul>
        </div>
    </div>

    }
</div>


<!-- Phần hiển thị các bài báo liên quan -->
<h2>Các bài báo liên quan</h2>
<div class="footer-m">
    <!-- Bài báo 1 -->
     @for(res of real; track res){
    <div class="post-container">
       <a  [routerLink]="['/blogsellerdetails',{id:res.id}]">
        <p class="post-title">{{ res.title }}</p>
        <p>Type : {{ res.typeRealState }}</p>
        <div class="post-content">
            <img src="{{ imgsurl }}{{ res.image[0].urlImage }}" alt="Image 1">
        </div>
    </a>
    </div>
     }
</div>