<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-8 wrapcontent">
            <!-- Main content -->
            <div class="main-content">
                @for(realstate of realstates;track realstate ){
                    <div class="content-frame">
                        <div class="content">
                            <div class="name"><img src=""
                                 alt="Profile Image" class="profile-img" >Tên người đăng</div>
                            <div class="scrollable-content" id="scrollable-content">
                                <!-- Nội dung của thẻ content -->
                                <p>Đây là nội dung.</p>
                              
                            </div>
                            <div class="show-more" id="show-more">Xemthem</div>
                            <div class="img">
                                <div class="image-container">
                                    <img class="cimg" styles="width: 345px;height: 255px;" src="download.jpg" alt="Ảnh">
                                </div>
                            </div>
                        </div>
                    </div>
                }
             
              
                
            </div>
        </div>
        <div class="col-3 sidebar_rig">
            <!-- Sidebar right content -->
            <div class="menu-filter">
                <div class="search-bar">
                    <input type="text" placeholder="Tìm kiếm...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
                <div class="select-filters">
                    <select>
                        <option value="" disabled selected>Chọn giá</option>
                        <option value="low">Thấp</option>
                        <option value="medium">Trung bình</option>
                        <option value="high">Cao</option>
                    </select>
                </div>
                <div class="select-filters">
                <select>
                    <option value="" disabled selected>Chọn khu vực</option>
                    <option value="north">Miền Bắc</option>
                    <option value="central">Miền Trung</option>
                    <option value="south">Miền Nam</option>
                </select>
                </div>
                <div class="checkbox-filters">
                    <label><input type="checkbox" value="criteria1"> Tiêu chí 1</label>
                    <label><input type="checkbox" value="criteria2"> Tiêu chí 2</label>
                    <label><input type="checkbox" value="criteria3"> Tiêu chí 3</label>
                </div>
            </div>
            <!-- Add more menu divs as needed -->
        </div>
        
    </div>


</div>