<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />

    <style>
        .p-inputtext {
            font-family: var(--font-family);
            font-feature-settings: var(--font-feature-settings, normal);
            font-size: 1rem;
            color: #fff;
            background: #2A3038;
            padding: 0.75rem 0.75rem;
            border: 1px solid #d1d5db;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
            appearance: none;
            border-radius: 6px;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Retrieve Password</h3>
                            <form [formGroup]="ForgetForm" (ngSubmit)="Retrieve()">
                                <div class="form-group">
                                    <p-floatLabel>
                                        <input pInputText id="email" formControlName="email" style="width: 100%;" />
                                        <label for="email">Your Email</label>
                                    </p-floatLabel>
                                    @if (ForgetForm.get('email').touched) {
                                    @if (ForgetForm.hasError('required',['email'])) {
                                    <span class="error" style="color: red;">Email required !</span>
                                    }
                                    }
                                </div>
                                <div class="text-center">
                                    <p-toast position="top-right" key="tl" />
                                    <p-button type="ngSubmit" pRipple label="Send Email"
                                        styleClass="btn btn-info btn-block enter-btn" [disabled]="ForgetForm.invalid"
                                        [style]="{'width': '100%'}" />
                                </div>
                            </form>
                            <div class="container mt-3">
                                <div class="row" align="left">
                                    <div class="col">
                                        <a [routerLink]="['/Login']">
                                            <i class="pi pi-angle-left" aria-hidden="true"></i> Back to Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>


<!-- container-scroller -->