<nav class="sidebar px-md-4">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item a">
        <a class="nav-link active" routerLink='home' ><i class="pi pi-home">&nbsp;</i>Home</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link"[routerLink]="['inforuser']"><i class="pi pi-user">&nbsp;</i>Mn User</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link" [routerLink]="['formrgs']"><i class="pi pi-desktop">&nbsp;</i>Mn Form</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link" [routerLink]="['update']"><i class="pi pi-chart-line">&nbsp;</i>TT</a>
      </li>
      <li class="nav-item a">
        <a class="nav-link active"[routerLink]="['selectadv']"><i class="pi pi-home">&nbsp;</i>Dk goi quan cao</a>
      </li>
      
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <!-- Menu dọc bên trái -->
    
    <!-- Nội dung hiển thị bên phải -->
    <nav class="col-md-3">
      <div class="">

      </div>
    </nav>
    <div  class="col-md-9 main" >
<router-outlet></router-outlet> 
    </div>
  </div>
</div>