
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
       <div class="bannerh2"><span>Dang Ki Nha Moi Gioi</span> </div>   <a [routerLink]="['/post-up']" class="btn btn-primary px-3 d-none d-lg-flex">Đăng Tin</a>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="post-container">
                    <h2 class="post-title">Tiêu đề bài viết 1</h2>
                    <div class="post-content">
                        <p>
                            Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                        </p>
                        <img src="link-hinh-anh-1.jpg" alt="Hình ảnh bài viết 1">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post-container">
                    <h2 class="post-title">Tiêu đề bài viết 2</h2>
                    <div class="post-content">
                        <p>
                            Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                        </p>
                        <img src="link-hinh-anh-2.jpg" alt="Hình ảnh bài viết 2">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post-container">
                    <h2 class="post-title">Tiêu đề bài viết 3</h2>
                    <div class="post-content">
                        <p>
                            Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                        </p>
                        <img src="link-hinh-anh-3.jpg" alt="Hình ảnh bài viết 3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
              <div class="post-container">
                  <h2 class="post-title">Tiêu đề bài viết 1</h2>
                  <div class="post-content">
                      <p>
                          Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                      </p>
                      <img src="link-hinh-anh-1.jpg" alt="Hình ảnh bài viết 1">
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="post-container">
                  <h2 class="post-title">Tiêu đề bài viết 2</h2>
                  <div class="post-content">
                      <p>
                          Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                      </p>
                      <img src="link-hinh-anh-2.jpg" alt="Hình ảnh bài viết 2">
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="post-container">
                  <h2 class="post-title">Tiêu đề bài viết 3</h2>
                  <div class="post-content">
                      <p>
                          Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                      </p>
                      <img src="link-hinh-anh-3.jpg" alt="Hình ảnh bài viết 3">
                  </div>
              </div>
          </div>
      </div>
    </div>
    
      <!-- Nội dung nằm ở đây -->
      <div class="row">
        <div class="col">
          <p>Content here...</p>
        </div>
      </div>