<nav class="sidebar bg-light px-md-4">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="pi pi-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-user"></i>Mn User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-desktop"></i>Mn Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-chart-line"></i>TT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="pi pi-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-user"></i>Mn User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-desktop"></i>Mn Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-chart-line"></i>TT</a>
      </li><li class="nav-item">
        <a class="nav-link active" href="#"><i class="pi pi-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-user"></i>Mn User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-desktop"></i>Mn Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-chart-line"></i>TT</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <!-- Menu dọc bên trái -->
    
    <!-- Nội dung hiển thị bên phải -->
    <nav class="col-md-3">
      <div class="">

      </div>
    </nav>
    <div  class="col-md-9 main" >
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>   <a [routerLink]="['/post-up']" class="btn btn-primary px-3 d-none d-lg-flex">Đăng Tin</a>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="post-container">
                    <h2 class="post-title">Tiêu đề bài viết 1</h2>
                    <div class="post-content">
                        <p>
                            Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                        </p>
                        <img src="link-hinh-anh-1.jpg" alt="Hình ảnh bài viết 1">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post-container">
                    <h2 class="post-title">Tiêu đề bài viết 2</h2>
                    <div class="post-content">
                        <p>
                            Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                        </p>
                        <img src="link-hinh-anh-2.jpg" alt="Hình ảnh bài viết 2">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post-container">
                    <h2 class="post-title">Tiêu đề bài viết 3</h2>
                    <div class="post-content">
                        <p>
                            Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                        </p>
                        <img src="link-hinh-anh-3.jpg" alt="Hình ảnh bài viết 3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
              <div class="post-container">
                  <h2 class="post-title">Tiêu đề bài viết 1</h2>
                  <div class="post-content">
                      <p>
                          Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                      </p>
                      <img src="link-hinh-anh-1.jpg" alt="Hình ảnh bài viết 1">
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="post-container">
                  <h2 class="post-title">Tiêu đề bài viết 2</h2>
                  <div class="post-content">
                      <p>
                          Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                      </p>
                      <img src="link-hinh-anh-2.jpg" alt="Hình ảnh bài viết 2">
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="post-container">
                  <h2 class="post-title">Tiêu đề bài viết 3</h2>
                  <div class="post-content">
                      <p>
                          Nội dung bài viết của bạn ở đây. Nội dung có thể được thu gọn khi quá dài bằng cách sử dụng kỹ thuật CSS.
                      </p>
                      <img src="link-hinh-anh-3.jpg" alt="Hình ảnh bài viết 3">
                  </div>
              </div>
          </div>
      </div>
    </div>
    
      <!-- Nội dung nằm ở đây -->
      <div class="row">
        <div class="col">
          <p>Content here...</p>
        </div>
      </div>
    </div>
  </div>
</div>