<div class="profile-container">
    <div class="profile">
        <img src="avatar.jpg" alt="Avatar">
        <h2>John Doe</h2>
        <p>Email: johnexample.com</p>
        <p>Phone: 123-456-7890</p>
        <p>Address: 123 Main Street, City, Country</p>
        <p>Age: 30</p>
        <p>Gender: Male</p>
        <p>Interests: Coding, Reading, Traveling</p>
        <p>About Me: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere urna in magna ullamcorper, ac vestibulum felis efficitur.</p>
        <div class="icon">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>