
<div class="profile-container1">
    <h2>Thông tin cá nhân</h2>
    <img src="your-image-url.jpg" alt="Hình ảnh của bạn" class="profile-image1">
    <form id="profile-form">
        <div class="ip">
            <label for="fullname">Họ và tên:</label><br>
            <input type="text" id="fullname" name="fullname" placeholder="Nhập họ và tên của bạn">
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="Nhập địa chỉ email của bạn">
        </div>
        <div>
            <label for="address">Địa chỉ:</label><br>
            <textarea id="address" name="address" placeholder="Nhập địa chỉ của bạn"></textarea>
        </div>
        <div>
            <label for="tax-id">Mã số thuế:</label><br>
            <input type="text" id="tax-id" name="tax-id" placeholder="Nhập mã số thuế của bạn">
        </div>
        <button type="submit" class="btn-update">Cập nhật</button>
    </form>
</div>