<!--ABC-->
<!-- tuanabc -->
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->

    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a [routerLink]="['/home']" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="assets/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">Makaan</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a [routerLink]="['/home']" class="nav-item nav-link active">Home</a>
                    <a [routerLink]="['/about']" class="nav-item nav-link">About</a>

                    <a [routerLink]="['/blogbuy']" class="nav-item nav-link">BlogBuy</a>

                    <a [routerLink]="['/blogbuy']" class="nav-item nav-link">BlogBuy2</a>
                    <a [routerLink]="['/blognew',{id:0}]" class="nav-item nav-link">Blog</a>
                </div>
                &nbsp;

                @if(username != null){
                <div class="name"> <a [routerLink]="['/information']"> <img src="{{avatar}}" alt="Profile Image"
                            class="profile-img">{{username}}</a></div>
                &nbsp;&nbsp;
                }@else {
                <div class="name"> <button type="button" (click)="reload()" class="btn btn-primary"><i
                            class="pi pi-sign-in"></i>&nbsp;Login</button>
                </div>
                &nbsp;&nbsp;
                }

                &nbsp;

                <div class="name"> <a (click)="reload()" class="btn btn-primary px-3 d-none d-lg-flex">Đăng Tin</a>
                </div>

            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->


    <!-- Header End -->


    <!-- Search Start -->
    <router-outlet></router-outlet>
    <!-- Testimonial End -->


    <!-- Footer Start -->

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->


<!-- Template Javascript -->