<style>
    .file-input-wrapper {
        position: relative;
        display: inline-block;
    }

    .file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .file-input-label {
        font-size: 50px;
        cursor: pointer;
    }

    .image-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .image-preview img {
        width: 300px;
        height: 150px;
        object-fit: cover;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 10%; /* Thêm thuộc tính border-radius */

    }
</style>
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <form [formGroup]="formGroup" (ngSubmit)="save()">
                <div class="col-md-12">
                    <div class="row g-2">
                        <h3>Thông Tin Cơ Bản</h3>
                        <div class="col-md-4">
                            <select class="form-control border-0 py-3" id='provinces' (change)="find_districts($event)">
                                <option value="" disabled selected hidden>Select City</option>
                                @for(province of provinces ; track province){
                                <option [value]="province.province_id">{{province.province_name}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3" (change)="find_ward($event)">
                                <option value="" disabled selected hidden>Select District</option>
                                @for(district of districts ; track district){
                                <option [value]="district.district_id">{{district.district_name}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3" (change)="find_Name_Ward($event)">
                                <option value="" disabled selected hidden>Select Ward</option>
                                @for(ward of wards ; track ward){
                                <option>{{ward.ward_name}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0 py-3" placeholder="Title"
                                formControlName="title" />
                            <p-toast />
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="form-control border-0 py-3" placeholder="Bedrooms" min="0"
                                formControlName="bedrooms" />
                            <br>
                            @if(formGroup.get('bedrooms').touched){
                            @if(formGroup.hasError('pattern',['bedrooms'])){
                            <Span style="color: red;">Invalid value
                            </Span>
                            }
                            }
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="form-control border-0 py-3" placeholder="Bathrooms" min="0"
                                formControlName="bathrooms" />
                            <br>
                            @if(formGroup.get('bathrooms').touched){
                            @if(formGroup.hasError('pattern',['bathrooms'])){
                            <Span style="color: red;">Invalid value
                            </Span>
                            }
                            }
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3" (change)="selectType($event)">
                                <option value="" disabled selected hidden>Loại BĐS</option>
                                @for(typerealstate of typerealstates ; track typerealstate){
                                <option [value]="typerealstate.id">{{typerealstate.type}}</option>
                                }
                                <!-- Thêm các loại BĐS khác nếu cần -->
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="form-control border-0 py-3" placeholder="Acreage (m2)" min="0"
                                formControlName="acreage" />
                            <br>
                            @if(formGroup.get('acreage').touched){
                            @if(formGroup.hasError('pattern',['acreage'])){
                            <Span style="color: red;">Invalid value
                            </Span>
                            }
                            }
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="form-control border-0 py-3" placeholder="Price" min="0"
                                formControlName="price" />
                            <br>
                            @if(formGroup.get('price').touched){
                            @if(formGroup.hasError('pattern',['price'])){
                            <Span style="color: red;">Invalid value
                            </Span>
                            }
                            }
                        </div>
                        <div class="col-md-4">
                            <textarea class="form-control border-0 py-3" name="" id="" placeholder="Describe"
                                formControlName="describe"></textarea>
                        </div>
                        <h3>Hình ảnh</h3>
                        <div>
                            <ul>
                                <li> <b>Đăng tối thiểu 4 ảnh thường với tin VIP</b></li>
                                <li><b>Hãy dùng ảnh thật, không trùng, không chèn SĐT</b></li>
                                <li><b>Mỗi ảnh kích thước tối thiểu 100x100 px, tối đa 15 MB</b></li>
                                
                            </ul>
                        </div>
                        <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                            <div class="file-input-wrapper">
                                <i class="pi pi-upload file-input-label"></i>
                                <input type="file" class="file-input" (change)="selectFiles($event)" multiple>
                            </div>
                        </div>
                        <div class="image-preview" cdkDropList (cdkDropListDropped)="onDrop($event)">
                            <img *ngFor="let image of images" [src]="image" cdkDrag width="200px">
                        </div>
                        
                    </div>
                    <div class="row g-2">
                        <div class="col-md-2 offset-md-10">
                            <button [disabled]="formGroup.invalid" type="submit"
                                class="btn btn-dark border-0 w-100 py-3">Đăng Tin</button>
                        </div>
                    </div>
                    <div>
                        <button type="button" (click)="uploads()">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>