<div class="wrap">
    <div *ngFor="let advertisement of advertisements; let i = index" class="container container-custom">
        <h4>{{advertisement.advertisementName}}</h4>
        <div class="form-group">
            <ul>
                <li>Đăng tối đa {{advertisement.quantityNews}} tin</li>
                <li>Thời hạn {{advertisement.quantityDates}} ngày</li>
            </ul>
        </div>
        <h3>{{advertisement.price}}$</h3>
        
        <div [id]="'paypal-button-container-' + i">
            
        </div>
    </div>
</div>
