<div class="wrap">
    <div class="container container-custom">
        <h2>Goi so 1</h2>
    
        <div class="form-group">
          <ul> <li>dang 1 tin </li> <li> thoi han 30d</li> </ul>
        </div>
        <h3> $ 199 USD</h3>
       
    </div>
    <div class="container container-custom">
        <h2>Goi so 2</h2>
    
        <div class="form-group">
          <ul> <li>dang 10 tin </li> <li> thoi han 90d</li> </ul>
        </div>
        <h3> $ 299 USD</h3>
       
    </div>
    <div class="container container-custom">
        <h2>Goi so 3</h2>
    
        <div class="form-group">
          <ul> <li>dang 100 tin </li> <li> thoi han 1y</li> </ul>
        </div>
        <h3> $ 599 USD</h3>
       
    </div>
</div>